form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-left: 25%;
    width: 50%;
    margin-top: 10px;
  }
  form div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input,
  button,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }